@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
ol,
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: #24231d;
}

body {
    font-family: "Inter", serif;
    font-weight: 600;
    color: #24231d;
    background-color: #f6f6f6;
}

button:hover,
a:hover {
    cursor: pointer;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-right: 10px;
    padding-left: 10px;
}

/* Navigation */
.nav {
    background-color: #f6f6f6;
    border-radius: 10px;
    padding: 24px 46px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    margin-right: 77px;
}

.nav__logo-link {
    font-size: 26px;
}
.nav__logo-link_accent {
    color: #d78a48;
}

.nav__item-link {
    font-size: 14px;
    font-weight: 400;
    transition: all 0.3s;
}

.nav__item-link:hover {
    color: #d78a48;
}

.nav__item-dote > span {
    margin-bottom: 2px;
    display: inline-block;
    width: 3px;
    height: 3px;
    background-color: #24231d;
    border-radius: 50%;
}

.nav__item:last-child {
    margin-right: 91px;
}

.contacts__item:not(:last-child) {
    margin-right: 11px;
}

.number__scedule {
    font-size: 12px;
}

.number__entry {
    font-size: 22px;
    font-weight: 600;
}

.number__link {
    color: #d78a48;
    font-size: 14px;
    text-decoration: underline;
}

/* HEADER */

header,
nav {
    background-color: #fff;
}

.header {
    display: flex;
}

.header__left {
    margin-top: 136px;
    margin-right: 60px;
}

.header__left_title {
    font-size: 52px;
    font-weight: 600;
}

.header__left_title-accent {
    color: #d78a48;
}

.header__left_paragraph {
    font-size: 22px;
    font-weight: 400;
    margin-top: 22px;
    margin-bottom: 34px;
    width: 377px;
}

.header__left_paragraph-accent {
    color: #d78a48;
}

.form__calc {
    width: 360px;
    background-color: #24231d;
    padding: 45px 38px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.form__calc > h1 {
    font-size: 28px;
    font-weight: 600;
    color: #fff;
}

.form__calc > label {
    margin-top: 22px;
    margin-bottom: 12px;
    color: #fff;
    font-size: 22px;
    font-weight: 400;
}

.form__calc > input {
    background-color: #ffffff;
    padding: 20px 30px;
    border-radius: 56px;
    border: none;
    margin-bottom: 12px;
    overlay: none;

    color: rgba(36, 35, 29, 0.4);
    font-size: 22px;
    font-weight: 400;
}

.form__calc > button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d78a48;
    padding: 20px 30px;
    border-radius: 56px;
    border: none;

    color: #fff;
    font-size: 22px;
    font-weight: 600;
}

.form__calc > button::before {
    content: url("./img/calc.svg");
    margin-right: 17px;
}

.header__right {
    margin-top: 64px;
    position: relative;
}

.header__right_blocks {
    top: 490px;
    left: -73px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__right_blocks-block {
    width: 176px;
    height: 193px;
    margin-right: 15px;
    background-color: #fff;
    border-radius: 7px;
    padding: 15px;
    box-shadow: 4px 4px 6px 1px rgba(180, 180, 180, 0.25);
}

.header__right_blocks-block:last-child {
    margin-right: 0;
}

.header__right_blocks-block > h1 {
    font-size: 21px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}

.header__right_blocks-block > p {
    font-size: 13px;
    font-weight: 400;
}

.block__p-accent {
    font-weight: 600;
}

.header__phone {
    display: none;
}

.nav__phone {
    display: none;
}

.header__right_img {
    border-radius: 10px;
}

/* адаптиция 1го экрана */
@media screen and (max-width: 1227px) {
    .nav {
        padding: 24px 6px;
    }

    .header__left {
        margin-left: 6px;
    }
}

@media screen and (max-width: 1130px) {
    .container {
        max-width: 900px;
    }

    .header,
    .nav {
        display: none;
    }

    .nav__phone {
        display: block;
    }

    .nav__phone-line1,
    .nav__phone-line2 {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .burger__list {
        display: none;
    }

    .burger__btn {
        background-image: url("./img/burger.svg");
        width: 40px;
        height: 40px;
    }

    .burger__btn:hover {
        cursor: pointer;
    }

    .burger__btn.active {
        background-image: url("./img/esc.svg");
        width: 40px;
        height: 40px;
    }

    .burger__list.active {
        position: absolute;
        width: -webkit-fill-available;
        padding: 30px;
        border-radius: 10px;
        background-color: #fff;
        margin-top: 30px;
        display: block;
    }

    .block__flex {
        display: flex;
        align-items: center;
    }

    .block__flex > h1 {
        margin-left: 30px;
        font-size: 21px;
        font-weight: 600;
    }

    .nav__item {
        margin-bottom: 15px;
    }

    .nav__item-link {
        font-size: 20px;
    }

    .header__phone {
        display: block;
    }

    .header__left_title {
        margin-top: 30px;
    }

    .header__right_img {
        width: -webkit-fill-available;
        border-radius: 10px;
    }

    .header__right_blocks {
        position: relative;
        flex-direction: column;
        top: 20px;
        left: 0;
    }

    .header__right_blocks-block {
        margin-top: 15px;
        margin-bottom: 15px;
        margin-right: 0;
        width: -webkit-fill-available;
        padding: 20px;
        height: auto;
    }

    .header__right_blocks-block > p {
        margin-top: 30px;
    }

    .header__left_paragraph {
        width: fit-content;
    }
}

@media screen and (max-width: 450px) {
    .nav__logo {
        margin-right: 0;
    }

    .nav__logo-link {
        font-size: 22px;
    }

    .contacts {
        display: flex;
    }

    .contacts__item {
        margin-right: 0;
    }

    .header__left_title {
        font-size: 30px;
    }

    .header__left_paragraph {
        font-size: 18px;
    }

    .form__calc {
        width: -webkit-fill-available;
        padding: 20px;
    }

    .form__calc > h1 {
        font-size: 22px;
    }

    .form__calc > label {
        font-size: 20px;
    }

    .form__calc > input {
        padding: 20px;
        font-size: 20px;
    }

    .form__calc > button {
        font-size: 18px;
    }
}

/* 4 этапа */
.stages {
    padding-top: 100px;
}

.stages__title,
.damage__title {
    font-size: 52px;
    font-weight: 600;
}

.stages__title_accent,
.damage__title_accent {
    color: #d78a48;
}

.stages__blocks,
.damage__content_line1 {
    margin-top: 30px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1%;
}

.stages__blocks-item,
.damage__content_item {
    background-color: #fff;
    padding: 32px 32px 32px 32px;
    border-radius: 10px;
    transition: all 0.3s;
}

.stages__blocks-item:hover {
    background-color: #24231d;
    color: #fff;
}

.item__accent {
    background-color: #24231d;
    color: #fff;
}

.item__title {
    font-size: 28px;
    margin-bottom: 24px;
}

.item__accent_title {
    margin-top: 17px;
    margin-bottom: 0;
}

.item__list_accent {
    margin-top: 10px;
    margin-left: 19px;
    list-style: disc;
    font-weight: 400;
    font-size: 22px;
}

.item__undertitle {
    font-size: 22px;
    font-weight: 400;
    margin-top: 38px;
    margin-bottom: 26px;
}

.item__number_accent {
    margin-top: -45px;
    text-align: end;
    font-size: 48px;
    color: rgba(255, 255, 255, 0.2);
}

/* адаптив 4 шага */

@media screen and (max-width: 1130px) {
    .stages__blocks {
        margin-top: 30px;
        height: auto;

        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 32px;
    }

    .item__img {
        width: -webkit-fill-available;
    }
}

@media screen and (max-width: 550px) {
    .stages__title {
        font-size: 29px;
    }

    .item__number_accent {
        display: none;
    }

    .item__accent {
        padding-bottom: 32px;
    }

    .item__img {
        width: 280px;
    }
}

/* повреждения */

.damage {
    padding-top: 100px;
}

.damage__content_line1 {
    grid-template-columns: repeat(3, 1fr);
    gap: 11px;
}

.damage__content_line1 {
    align-items: end;
}

.damage__content_line2 {
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 11px;
}

.damage__undertitle {
    width: 45%;
    font-size: 22px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 24px;
}

.damage__item_title {
    font-size: 28px;
    margin-bottom: 16px;
}

.damage__item_paragrpah {
    margin-top: 16px;
    font-size: 18px;
    font-weight: 400;
}

.damage__content_info {
    background-color: #d78a48;
    color: #fff;
    height: fit-content;
    padding: 28px 32px 50px 32px;
}

.damage__info_title {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 10px;
}

.damage__info_paragraph {
    font-size: 18px;
    font-weight: 400;
}

.info__paragraph_accent {
    font-weight: 600;
}

.damage__content_column {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.damage__content_phone {
    padding: 20px 32px 20px 32px;
}

.damage__item_number {
    font-size: 28px;
    font-weight: 600;
    color: #d78a48;
}

.damage__contacts {
    width: 64px;
}

/* адаптив повреждения */
@media screen and (max-width: 1227px) {
    .damage__content_item {
        padding: 20px;
    }

    .damage__item_img {
        width: -webkit-fill-available;
    }
}

@media screen and (max-width: 1170px) {
    .damage__content_line1,
    .damage__content_line2 {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 32px;
    }
}

@media screen and (max-width: 400px) {
    .damage__title {
        font-size: 29px;
    }

    .damage__undertitle {
        width: 100%;
        font-size: 18px;
    }

    .damage__content_item {
        width: 88%;
    }

    .damage__item_img {
        width: 280px;
    }
}

/* цены на циклевку паркета */
.price {
    padding-top: 100px;
}

.price__list {
    display: flex;
    justify-content: space-between;
}

.price__list_right {
    width: 26%;
    margin-right: 80px;
}

.price__list_title {
    font-size: 52px;
    font-weight: 600;
}

.price__list_title-accent {
    color: #d78a48;
}

.price__list_undertitle {
    margin-top: 20px;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 20px;
}

.price__list_undertitle-accent {
    color: #d78a48;
    font-weight: 600;
}

.table_component {
    width: 100%;
}

table {
    border-collapse: separate;
    border-spacing: 0px;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    text-align: left;
}

th,
td {
    border: 1px solid #dedede;
    color: #201e1d;
    font-size: 22px;
    font-weight: 400;
    padding: 20px;
}

.border_top_left {
    border-top-left-radius: 10px;
}

.border_top_right {
    border-top-right-radius: 10px;
}

.td_left_bottom {
    border-bottom-left-radius: 10px;
}

.td_right_bottom {
    border-bottom-right-radius: 10px;
}

.rub {
    font-weight: 600;
}


.table__accent {
    font-size: 28px;
    font-weight: 600;
}

.abacus {
    margin-top: 40px;
    background-color: #fff;
    padding: 0px 70px 30px 0px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.abacus__text {
    padding-top: 44px;
    margin-left: 40px;
    margin-right: 35px;
}

.abacus__text > h1 {
    font-size: 28px;
    font-weight: 600;
}

.abacus__text > p {
    margin-top: 12px;
    font-size: 22px;
    font-weight: 400;
}

.form__photo {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 360px;
}

.input-file {
    position: relative;
    display: inline-block;
}
.input-file span {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;
    font-size: 20px;
    font-weight: 400;
    vertical-align: middle;
    color: #d78a48;
    text-align: center;
    border: 2px solid #d78a48;
    border-radius: 6px;
    background-color: #fff;
    padding: 20px 10px 20px 14px;
    box-sizing: border-box;
    margin: 0;
    transition: background-color 0.2s;
}

.form__photo_tel {
    font-size: 22px;
    vertical-align: middle;
    color: #d78a48;
    border: 2px solid #d78a48;
    border-radius: 6px;
    background-color: #fff;
    padding: 20px 35px 18px 24px;
    transition: background-color 0.2s;
}

.form__photo_btn {
    background-color: #d78a48;
    color: #fff;
    padding: 20px 50px;
    font-size: 22px;
    font-weight: 600;
    border: 2px solid #d78a48;
    border-radius: 6px;
}

.input-file span::before {
    content: url("./img/pictures.svg");
    margin-right: 11px;
}
.input-file input[type="file"] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
}

.input-file:hover span {
    background-color: #d78a48;
    color: #fff;
}
.input-file:active span {
    background-color: #d78a48;
    color: #fff;
}

.input-file input[type="file"]:disabled + span {
    background-color: #eee;
}

.price__list_img_phone {
    display: none;
}

@media screen and (max-width: 1227px) {
}

@media screen and (max-width: 1227px) {
    .price__list {
        flex-direction: column;
        gap: 32px;
    }
    .table_component {
        width: 100%;
    }

    .price__list_right {
        width: 100%;
    }

    .abacus {
        flex-direction: column;
        justify-content: center;
    }

    .form__photo,
    .abacus__text {
        margin: 0 auto;
    }
}

@media screen and (max-width: 400px) {

    .price__list_img {
        display: none;
    }

    .price__list_img_phone {
        display: block;
    }
    .price__list_title {
        font-size: 29px;
    }

    .price__list_undertitle {
        font-size: 22px;
    }

    .table__accent {
        font-size: 24px;
    }

    .table_component td {
        font-size: 18px;
        padding: 20px 2px 20px 4px;
    }

    .rub {
        vertical-align: middle;
    }

    .abacus__text > h1 {
        font-size: 24px;
    }

    .abacus__text > p {
        font-size: 18px;
    }

    .input-file span {
        font-size: 14px;
    }

    .form__photo_tel,
    .form__photo_btn {
        font-size: 18px;
    }

    .form__photo {
        width: 280px;
    }
}

/* как мы работаем */
.work {
    padding-top: 100px;
}

.work__title {
    font-size: 52px;
}

.work__undertitle {
    margin-top: 30px;
    margin-bottom: 60px;
    font-size: 22px;
    font-weight: 400;
    width: 50%;
}

.work__blocks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 11px;
    grid-row-gap: 28px;
}

.work__block {
    background-color: #fff;
    padding: 20px;
    position: relative;
    border-radius: 10px;
    width: fit-content;
}

.work__block_img {
    width: min-content;
}

.work__block_number {
    position: absolute;
    font-size: 28px;
    font-weight: 600;
    color: #d78a48;
    background-color: #fff;
    padding: 12px;
    border-radius: 6px;
    top: 32px;
    left: 32px;
}

.work__block_title {
    font-size: 28px;
    font-weight: 600;
    margin-top: 16px;
}

.work__block__undertitle {
    font-size: 18px;
    margin-top: 18px;
}

.num5 {
    position: relative;
    left: 0;
    top: 23px;
    margin-bottom: 22px;
    border: 1px solid #d78a48;
}

.num5__title {
    margin-top: 60px;
}

.work__calc {
    background-color: #d78a48;
    width: auto;
    padding: 20px;
}

.work__calc > button {
    background-color: #fff;
    color: #d78a48;
}

.work__calc > button::before {
    content: url("./img/calc_orange.svg");
}

/* адаптив как мы работаем */

@media screen and (max-width: 1227px) {
    .work__title,
    .work__undertitle {
        margin-left: 0;
    }

    .work__block {
        width: auto;
    }

    .work__blocks {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 28px;
    }

    .work__block_img {
        width: -webkit-fill-available;
    }

    .work__undertitle {
        width: 100%;
    }
}

@media screen and (max-width: 430px) {
    .work__title {
        font-size: 29px;
    }

    .work__undertitle {
        font-size: 18px;
        margin-top: 12px;
        margin-bottom: 18px;
    }

    .work__block {
        width: auto;
        padding: 10px;
    }

    .work__block_img {
        width: 320px;
    }
}

/* наши выгоды */

.benefit {
    padding-top: 100px;
}
.benefit__blocks {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 13px;
    grid-row-gap: 20px;
}

.benefit__block {
    width: auto;
    height: auto;
    padding: 30px;
    margin-right: 0;
}

.benefit__phone {
    display: flex;
    flex-direction: column;
}

.benefit__block > p {
    font-size: 18px;
}

.benefit__block > div > h1 {
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 28px;
}

.benefit__block > div > img {
    width: 62px;
}

.benefit__contact {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}

.benefit__contact > div {
    padding: 20px;
}

/* адаптив выгода */
@media screen and (max-width: 980px) {
    .benefit__contact {
        flex-direction: column;
        gap: 20px;
    }

    .benefit__blocks {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 13px;
        grid-row-gap: 20px;
    }

    .benefit__phone {
        flex-direction: row;
        align-items: center;
    }

    .benefit__phone > h1 {
        margin-left: 30px;
    }

    .benefit__block > p {
        margin-top: 10px;
    }
}

/* наше оборудование */
.equipment {
    padding-top: 100px;
}

.equipment__blocks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 11px;
    grid-row-gap: 20px;
}

.equipment__block {
    background-color: #fff;
    padding: 32px;
    border-radius: 10px;
}

.equipment__block > h1 {
    font-size: 28px;
    margin-top: 16px;
    margin-bottom: 12px;
}

.accent__black {
    font-weight: 600;
}

.equipment__block > ul > li,
.cons__info > ul > li {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 8px;
}

.equipment__block > ul > li::before,
.cons__info > ul > li::before {
    content: url("./img/eclipse__orange.svg");
    margin-right: 12px;
}

.equipment__cons {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 20px 20px 35px 20px;
    border-radius: 10px;
    width: fit-content;
}

.cons__info > h1 {
    font-size: 28px;
    margin-bottom: 12px;
}

.cons__phone {
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.cons__phone > label {
    font-size: 18px;
    color: #d78a48;
    font-weight: 400;
}

.cons__phone > input {
    border: 2px solid #d78a48;
    padding: 20px 20px 20px 28px;
    font-size: 22px;
    font-weight: 400;
    border-radius: 56px;
}

.cons__phone > button {
    border: 2px solid #d78a48;
    background-color: #d78a48;
    padding: 20px;
    font-size: 22px;
    font-weight: 600;
    border-radius: 66px;
    color: #fff;
}

/* адаптив повреждения */

@media screen and (max-width: 1200px) {
    .equipment__blocks {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 13px;
        grid-row-gap: 20px;
    }
}

@media screen and (max-width: 700px) {
    .equipment__cons {
        flex-direction: column;
        width: auto;
    }

    .cons__phone {
        margin-top: 32px;
        margin-left: 0;
        width: auto;
    }

    .cons__info > h1 {
        font-size: 24px;
    }

    .equipment__block > ul > li,
    .cons__info > ul > li {
        font-size: 16px;
    }

    .cons__phone > input {
        font-size: 20px;
    }

    .cons__phone > button {
        font-size: 18px;
    }

    .equipment__block > h1 {
        font-size: 24px;
    }
}

@media screen and (max-width: 430px) {
    .equipment__block {
        /* width: 280px; */
        padding: 20px;
    }
    .equipment__block > img {
        width: 280px;
    }
}

/* faq */

.faq {
    padding-top: 100px;
}

.faq__title {
    font-size: 52px;
    font-weight: 600;
}

.orange__accent {
    color: #d78a48;
}

.accordion {
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1ftr);
    gap: 20px;
}

.accordion__item {
    background-color: #fff;
    padding: 32px;
    width: fit-content;
}

.accordion__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #212529;
    font-weight: 600;
    font-size: 28px;

    cursor: pointer;
    transition: background-color 0.2s ease-out;
}

.accordion__header > h1 {
    width: 480px;
}

.accordion__btn {
    background-image: url("./img/arrow__color.svg");
    width: 50px;
    height: 50px;
}

.accordion__btn.active {
    background-image: url("./img/arrow.svg");
    width: 50px;
    height: 50px;
}

.accordion__content {
    margin-top: 12px;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.accordion__content a:last-child {
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;
}

.accordion__content a:hover {
    background-color: #f8f9fa;
}

.accordion__item:not(.accordion__item_show) .accordion__body {
    display: none;
}

/* адаптив faq */

@media screen and (max-width: 1200px) {
    .accordion {
        grid-template-columns: repeat(1, 1fr);
        gap: 24px;
    }

    .accordion__item {
        width: auto;
    }
}

@media screen and (max-width: 700px) {
    .faq__title {
        font-size: 29px;
    }

    .accordion__header {
        display: flex;
        justify-content: space-between;
        align-items: start;
    }
    .accordion__header > h1 {
        width: -webkit-fill-available;
        font-size: 24px;
    }

    .accordion__btn {
        width: 60px;
    }

    .accordion__btn.active {
        width: 60px;
    }

    .accordion__item {
        width: -webkit-fill-available;
    }

    .accordion__item {
        background-color: #fff;
        padding: 20px;
        width: fit-content;
    }
}

/* footer */

.footer {
    padding-top: 100px;
}

.footer__logo {
    margin-bottom: 32px;
}

.footer__logo > a {
    font-size: 26px;
}

.footer__flex {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.footer__nav > h1,
.footer__contacts > h1,
.footer__contacts > h2 {
    font-size: 28px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.footer__nav > h1::before,
.footer__contacts > h1::before {
    content: url(./img/eclipse__big.svg);
    display: block;
    margin-right: 11px;
    margin-bottom: 5px;
}

.footer__nav_content > ul > li > a {
    transition: all 0.3s;
}

.footer__nav_content > ul > li > a:hover {
    color: #d78a48;
}

.footer__nav_content {
    display: flex;
    justify-content: space-between;
}

.footer__nav_content > ul:not(:last-child) {
    margin-right: 73px;
}

.footer__nav_content > ul > li {
    font-size: 18px;
    font-weight: 400;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    transition: all 0.3s;
}

.footer__nav_content > ul > li::before {
    content: url(./img/eclipse__orange.svg);
    display: block;
    margin-right: 11px;
    margin-bottom: 8px;
}

.footer__contacts > button {
    color: #d78a48;
    background-color: transparent;
    border: 2px solid #d78a48;
    padding: 20px 70px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 66px;
    margin-top: 12px;
    margin-bottom: 16px;
}

.footer__contacts > div > .number__scedule {
    font-size: 18px;
    font-weight: 400;
}

.footer__contacts > div > .number__entry {
    font-size: 28px;
    font-weight: 600;
}

.footer__contacts > .contacts > a > img {
    width: 53px;
}

.policy {
    margin-top: 52px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 400;
    color: rgba(32, 30, 29, 0.4);
}

/* адаптив футера */

@media screen and (max-width: 700px) {
    .footer__flex,
    .policy {
        display: flex;
        justify-content: space-between;
        align-items: start;
        flex-direction: column;
        gap: 20px;
    }

    .footer__nav_content {
        flex-direction: column;
    }
}
